<div ref="extraContainer" class="extra-container">
    {{ if and (isset .Site.Params "googlesearchcode") (.IsHome) }}
    <script async src="https://cse.google.com/cse.js?cx={{.Site.Params.googleSearchCode}}"></script>
    <div class="gcse-searchbox-only" mobileLayout="true"></div>
    {{ end }}
    {{ if and (not (.Site.Params.disableToC) ) (.IsPage) }}
    <div class="toc animated-visibility" :class="{ invisible: scrollY <= 140 }">
        {{- partial "toc.html" . -}}
    </div>
    {{ end }}
    <div class="pagination">
        <a id="globalBackToTop" class="pagination-action animated-visibility" href="#top" :class="{ invisible: scrollY == 0 }">
            <i class="material-icons pagination-action-icon">
                keyboard_arrow_up
            </i>
        </a>
        {{ if not .Site.Params.disableDarkMode }}
        <a class="pagination-action" v-on:click="toggleDarkMode">
            <i class="material-icons pagination-action-icon" v-if="isDarkMode">
                brightness_4
            </i>
            <i class="material-icons pagination-action-icon" v-else="isDarkMode">
                brightness_7
            </i>
        </a>
        {{ end }}
        {{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
        {{ if $paginator }}
        {{ if gt $paginator.TotalPages 1 }}
            <div class="pagination-indicator">
                <span style="text-align: center">
                    {{$paginator.PageNumber}}<br><div style="display: inline-block; transform: rotate(-28deg)">-</div><br>{{$paginator.TotalPages}}
                </span>
            </div>
            
            {{ if $paginator.HasPrev }}
            <a class="pagination-action" href="{{$paginator.Prev.URL}}">
                <i class="material-icons pagination-action-icon">
                    chevron_left
                </i>
            </a>
            {{ end }}

            {{ if $paginator.HasNext }}
            <a class="pagination-action" href="{{$paginator.Next.URL}}">
                <i class="material-icons pagination-action-icon">
                    chevron_right
                </i>
            </a>
            {{ end }}
        {{ end }}
        {{ end }}
    </div>
</div>
