{{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
{{ if $paginator }}
{{ if gt $paginator.TotalPages 1 }}
<div class="pagination">
    {{ if $paginator.HasPrev }}
    <a class="pagination-action" href="{{$paginator.Prev.URL}}" style="opacity:1">
    {{ else }}
    <a class="pagination-action" style="opacity:0">
    {{ end }}
        <i class="material-icons pagination-action-icon">
            chevron_left
        </i>
    </a>

        <div class="pagination-indicator">
            <span>{{$paginator.PageNumber}}/{{$paginator.TotalPages}}</span>
        </div>

        {{ if $paginator.HasNext }}
        <a class="pagination-action" href="{{$paginator.Next.URL}}"
           style="opacity:1">
        {{ else }}
            <a class="pagination-action" style="opacity:0">
        {{ end }}
                <i class="material-icons pagination-action-icon">
                    chevron_right
                </i>
            </a>
</div>
{{ end }}

{{ end }}